<% content_for :title, "Resume"%>
<%content_for :col2 do %>
<h1>Michelle go make </br> dinner!!! :)</h1>
</br>
<%= link_to "I want to return Home!!", home_path(@home) %> </br>
<p>Find me in app/views/columm/hi.html.erb</p>

<% end %>